  ul {
    list-style: none;
    max-width: 300px;
  }
  
  li {
    border: 2px solid #888;
  }
  
  li:not(:last-child) {
    border-bottom: 0;
  }
  
  li:hover {
    border: 2px solid #000;
  }
  
  li:hover + li {
    border-top: 0;
  }
